.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;

    color: white;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
